/mock/out/production/mockGenerator/Child.class
/mock/out/production/mockGenerator/DaycareMockGenerator.class
/mock/out/production/mockGenerator/Parent.class
/mock/out/production/mockGenerator/Person$Gender.class
/mock/out/production/mockGenerator/Person.class
